*__pycache__*
*.pyc
db.sqlite3
node_modules
webpack-stats.json
battlecode/static/bundles/*
*migrations*
.coverage
html-cov/
node_modules/
gross/
lib/
*/target/*
*/staging/*
*/.jsweet/
env/
build/
*.bc19
.DS_Store
