body {
    font-family: Roboto;
    background-color: #fefefe;
}

* {
    margin: 0;
    padding: 0;
}

a {
    color: #d84315;
}

hr {
    margin-top:4em;
    margin-bottom:1em;
    padding: 0;
    border: none;
    border-top: 1px solid #d84315;
    text-align: center;
    font-weight: 200;
    color:#d84315;
}

hr:after {
    content: "o";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: inherit;
    background-color: #fefefe;
}

section {
    display:flex;
    align-items: center;
    width:800px;
    margin: 0 auto;
    color:#000;
}

section h2 {
    font-weight:300;
    font-size:2em;
    margin-bottom:0.75em;
}

section h2 .highlight {
    color: #d84315;
    font-style: italic;
}

section p {
    font-weight:300;
    font-size:1.3em;
    padding-right:10px;
    text-align: justify;
}

section p .blue {
    color:#2B39F3;
}

section p .red {
    color:#FF2525;
}

/*************** HEADER ****************/

header {
    position:fixed;
    width:100%;
    top:0px;
    z-index: 3;
}

.header-bar {
    position:fixed;
    top:0px;
    z-index:1;
    width:275px;
    padding:0px;
    margin:0px;
    right:0px;

    border-left: 50px solid transparent;
    border-top: 75px solid #d84315;
}

header ul {
    list-style-type:none;
    font-size:1em;
    margin:0;
    padding:0;
    overflow:hidden;
    width:100%;
    color:#fff;
}

header button {
    background: none;
    color: inherit;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;

    display: inline;
    float:right;
    margin:1em 2.5em 0.5em 0em;
    padding: 0.4em 1em;
    border: 1px solid #fff;

    font-weight: 300;
    border-radius: 3px;
}

/************** HERO ***************/

.hero {
	justify-content: center;
    height:450px;
    color: #fff;
    text-align: center;
    overflow:none;

    background-image:url(example.png);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-size: cover;
    z-index:-1;
    border-bottom: 8px solid #d84315;
    z-index: 2;
}

.hero h1 {
    margin-top:100px;
    font-size:5em;

    margin:100px auto;

    -webkit-transform: skew(-10deg);
    -moz-transform: skew(-10deg);
    -o-transform: skew(-10deg);
    width:400px;
    padding:0.25em;

    box-shadow: 1px 1px 10px #000;

    background-color: #d84315;
}

.hero .holder {
    width:300px;
    margin: 0 auto;
}

.hero .holder a {
    width:100px;
    height:100px;
    border-radius: 50px;
    vertical-align: middle;
    text-align: center;
    line-height: 100px;
    font-weight:700;
    font-size: 30px;

    box-shadow: 0px 0px 8px #000;
    margin: -50px auto;
    -webkit-transition: box-shadow 0.1s;
    text-decoration: none;
    color:#fff;
}

.hero .holder a:hover {
    box-shadow: 0px 0px 5px #000;
    color:#eee;
}

.hero .dev {
    float: left;
    background-color: #ff2525;
}

.hero .dev:hover {
    background-color: #f02424;
}

.hero .pro {
    float:right;
    background-color: #2b39f3;
}

.hero .pro:hover {
    background-color: #2937e6;
}

/************** SEC ONE ***************/

.sec-one {
    margin-top:490px;
}

.sec-one .left {
    flex-grow: 1;
}

.sec-one .right {
    width:500px;
    height:100%;
}

.sec-one .right .rect {
    width:200px;
    height:75px;
    background-color:#d84315;
    margin: 0 auto;
    text-align: center;
    color:#fff;
    vertical-align: middle;
    font-size:2em;

    margin-top:60px;
}

.sec-one .right .head {
    font-size:0.625em;
    padding-top:0.35em;
}

.sec-one .rect .circle {
    width:100px;
    height:100px;
    background-color:#d84315;
    margin: -80px auto;
    border-radius: 50px;
}

.sec-one .calls {
    margin-top:1.5em;
    width:100%;
    text-align: center;
}

.sec-one .calls td i {
    font-size:3em;
}

/************** SEC TWO *****************/

.sec-two .left {
    text-align:center;
}

.sec-two .left img {
    width:16em;
    margin-top:1em;
}

.sec-two .right {
    padding-left:3em;
    order: 2;
}

/************** SEC THREE *****************/

.sec-three {
    margin-top:2em;
}

.sec-three .left {
    width:300px;
}

.sec-three .right {
    margin: 0 auto;
    display: flex;
    width: calc(100% - 370px);
    justify-content: space-between;
}

.sec-three .right .box {
    width:200px;
    height:250px;
    box-shadow: 1px 1px 10px #000;
    border-top:6px solid #D64423;
    text-align: center;
}

.sec-three .right .box .dev {
    background-color:#ff2525;
    border-bottom: 3px solid #f02424;
}

.sec-three .right .box .pro {
    background-color:#2b39f3;
    border-bottom: 3px solid #2937e6;
}

.sec-three .right .box .header {
    width:100%;
    vertical-align: center;

    font-weight:500;
    font-style: italic;
    color:#fff;
    font-size:30px;

    line-height: 70px;
    height:70px;
}

.sec-three .right .box .content {
    text-align: left;
    list-style: none;
    padding:10px;
    line-height: 24px;
    font-size: 15px;
    font-weight: 300;
    font-color:#333;
}

.sec-three .right .box .cta {
    color: #D64423;
    border: 1px solid #D64423;
    margin:10px auto;
    font-size:12px;
    font-style: italic;
    width:100%;
    line-height: normal;
}

/************** SEC FOUR *****************/

.sec-four #code-editor {
    width:370px;
    height:430px;
    border-radius:2px;
}

.sec-four #lang-select {
    width:100%;

    margin-top:15px;
    border: 1px solid rgb(214,68,35);
    border-radius:2px;
    height:25px;
    line-height: 25px;

    color:rgb(214,68,35);
    font-weight:300;
    font-size:14px;
}

.sec-four #lang-select .option {
    float:left;
    width: calc(50% - 0.5px);
    height:100%;
    text-align:center;
    padding:0px;
    cursor:pointer;
}

.sec-four #lang-select .option.py {
    border-right: 1px solid rgb(214,68,35);
}

.sec-four canvas {
    width:350px;
    height:350px;
    border:1px solid rgb(214,68,35);
    border-radius:2px;
    margin-left:40px;
}

.sec-four button {
    margin-left:40px;
    width:350px;
    border-radius:4px;

    height:40px;
    margin-bottom:10px;
    background-color:rgb(214,68,35);
    color:#fefefe;
    font-weight:300;
    font-size:15px;

    cursor:pointer;
    border:1px solid rgb(214,68,35);
}

.sec-four h2 {
    margin-left:40px;
    width:350px;

    text-align:center;
    margin-bottom:26px;
    margin-top:10px;
}

/************ RESPONSIVE STUFF ***************/

@media (max-width: 900px) {
    section {
        font-size:0.8em;
        width:90%;
    }

    .sec-one {
        margin-top:475px;
    }

    .sec-one .rect .circle {
        margin-top:-75px;
    }

    .sec-one .right .head {
        padding-top:0.75em;
    }

    .sec-three {
        display: block;
    }

    .sec-three .left {
        width:100%;
        margin-bottom:2em;
    }

    .sec-three .right {
        width: 420px;
    }

    .sec-four {
        display: block;
        text-align:center;
    }

    .sec-four #code-editor {
        width:100%;
    }

    .sec-four canvas, .sec-four button, .sec-four h2 {
        width: calc(100vw - 90px);
        margin-left: 0px;
    }

    .sec-four h2 {
        margin-top:20px;
    }

    .sec-four canvas {
        height: calc(100vw - 90px);
    }
}

@media (max-width: 600px) {
    .hero h1 {
        width:300px;
        font-size:4em;
    }

    .hero .holder {
        width:225px;
    }

    .hero .holder a {
        width:80px;
        height:80px;
        border-radius:40px;
        line-height:80px;
        font-size:25px;
    }

    .hero {
        height: 400px;
    }

    .sec-one {
        margin-top:450px;
    }

    .sec-two {
        display:block;
    }

    .sec-two .left img {
        margin-top:3em;
    }

}

@media (max-width: 400px) {
    .hero h1 {
        width:250px;
        font-size:3em;
    }

    .hero {
        height:350px;
    }

    .sec-one {
        margin-top:380px;
        display:block;
    }

    .sec-one .right {
        width:100%;
    }

    .sec-three .right {
        display:block;
        width:100%;
    }

    .sec-three .right .box {
        margin: 4em auto;
    }

}
